
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */